# Carpeta originado por PyChar
.idea/*

# Carpeta de GitHub - Daniel Ahuado.
DanielAhuado/*

# Material del libro de Python-ESRI
PYTH/*
PYTH.zip

# GDB Geoquimica -> Mi unidad > INGEMMET > Modulos > Geoquimica
DRME - Sedimentos de Quebrada Geoquimica/*
DRME - Sedimentos de Quebrada Geoquimica.zip
